@font-face {
    font-family: 'HollowPoint';
    src: url('HollowPoint.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segan';
    src: url('Segan.ttf');
    font-weight: normal;
    font-style: normal;
}